<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheet.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>



<a href="index.html"><img src="images/logo-poppin-font-whole-word.png" style="width: 90%;padding-left:5vw;padding-right:5vw" alt = "the word unstoppable in large bold type with cartoom/silhouette of a t rex holding reachers triumphantly above its head stomping on the U"></a>
<div id="nav">
	<div class='menu-item'><a href="/index.html" >about</a></div>	
	<div class='menu-item'><a href="/coaching-and-therapy.html" class='menu-item'>therapy & coaching</a></div>
	<div class='menu-item'><a href="/groups.html" class='menu-item'>creative groups</a></div>
	<div class='menu-item'><a href='/contact.html' class='menu-item'>contact</a></div>
	</div>


<div id=main-container>
{{ content }}
</div>

<div id="footer">
	<p>Unstoppable Inc. </p>
	<p>Hoping to be a 501c3 non-profit soon!</p>
	<p>Our logo is an homage to <a href="">this delightful meme</a>. I don't know who originally created this, but hat tip to you if you're out there! </p>
	<img src="images/solo-logo.png" width="10%" alt = "silhouette of a t-rex holding reachers triumphantly above its head">
</footer>
</body>
</html>